@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@400;700&display=swap');

html {
  background-color: #160d06;
  color: #eed2a7;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  position: relative;
  margin: 2rem;
  min-height: 100vh;
}

.content-container {
  text-align: center;

  margin: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  list-style-type: none;
  display: flex;
}

.navLinks li {
  margin-left: 1rem;
}

.movieList {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Movie {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eed2a7;
  width: 150px;
  height: 200px;
}

.search-form input {
  padding: 0.3rem;
  font-size: 1rem;
  color: inherit;
  width: 50%;
  height: 30px;
  outline: none;
  background: #2a1d0c;
  border: 1px solid #eed2a7;
}

.search-form input::placeholder {
  color: #a79272;
}

.search-form button {
  padding: 0.3rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: inherit;
  background: #2a1d0c;
  border: 1px solid #eed2a7;
  cursor: pointer;
}

.Home h1 {
  color: #69563a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
